USE [CarRental]
GO
/****** Object:  Table [dbo].[CarTbl]    Script Date: 20/3/2021 10:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CarTbl](
	[CarID] [varchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[image] [nvarchar](200) NULL,
	[type] [nvarchar](50) NULL,
	[color] [nvarchar](50) NULL,
	[price] [float] NULL,
	[quantity] [int] NULL,
 CONSTRAINT [PK_CarTbl] PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderDetailTbl]    Script Date: 20/3/2021 10:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrderDetailTbl](
	[IdOderDetail] [varchar](50) NOT NULL,
	[IdCar] [varchar](50) NOT NULL,
	[quantity] [int] NULL,
	[price] [nchar](10) NULL,
	[IdOrder] [varchar](50) NOT NULL,
	[RentDate] [datetime] NULL,
	[ReturnDate] [datetime] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_OrderDetailTbl] PRIMARY KEY CLUSTERED 
(
	[IdOderDetail] ASC,
	[IdOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderTbl]    Script Date: 20/3/2021 10:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrderTbl](
	[IdOrder] [varchar](50) NOT NULL,
	[userID] [varchar](50) NULL,
	[totalPrice] [float] NULL,
	[dateOrder] [datetime] NULL,
 CONSTRAINT [PK_OrderTbl] PRIMARY KEY CLUSTERED 
(
	[IdOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RegistrationTbl]    Script Date: 20/3/2021 10:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RegistrationTbl](
	[userID] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](200) NULL,
	[Phone] [varchar](15) NULL,
	[status] [bit] NOT NULL,
	[role] [varchar](50) NOT NULL,
	[dateCreate] [datetime] NULL,
	[Verification] [int] NULL,
 CONSTRAINT [PK__Registra__CB9A1CDF5A5C8DE0] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TypeCarTbl]    Script Date: 20/3/2021 10:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeCarTbl](
	[Type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TypeCarTbl] PRIMARY KEY CLUSTERED 
(
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CarTbl] ([CarID], [Name], [image], [type], [color], [price], [quantity]) VALUES (N'CAR-1', N'VinFast 500', N'img/vinfast-fadil-2020-79541.png', N'VinFast', N'White', 100, 100)
INSERT [dbo].[CarTbl] ([CarID], [Name], [image], [type], [color], [price], [quantity]) VALUES (N'CAR-10', N'BMW 840i 2021
', N'img/bmw-840i-2021.png', N'BMW', N'#516f70', 200, 5)
INSERT [dbo].[CarTbl] ([CarID], [Name], [image], [type], [color], [price], [quantity]) VALUES (N'CAR-11', N'Ford Territory 2021
', N'img/ford-territory-2021.png', N'Ford', N'#783f04', 100, 5)
INSERT [dbo].[OrderDetailTbl] ([IdOderDetail], [IdCar], [quantity], [price], [IdOrder], [RentDate], [ReturnDate], [status]) VALUES (N'OD-1-1', N'CAR-1', 3, N'3000000   ', N'OD-1', CAST(N'2012-04-04 00:00:00.000' AS DateTime), CAST(N'2012-04-05 00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[OrderDetailTbl] ([IdOderDetail], [IdCar], [quantity], [price], [IdOrder], [RentDate], [ReturnDate], [status]) VALUES (N'OD-1-2', N'CAR-1', 5, N'3000000   ', N'OD-1', CAST(N'2021-03-13 00:00:00.000' AS DateTime), CAST(N'2021-03-16 00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[OrderDetailTbl] ([IdOderDetail], [IdCar], [quantity], [price], [IdOrder], [RentDate], [ReturnDate], [status]) VALUES (N'OD-1-3', N'CAR-1', 6, N'3000000   ', N'OD-1', CAST(N'2021-03-17 00:00:00.000' AS DateTime), CAST(N'2021-03-21 00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[OrderTbl] ([IdOrder], [userID], [totalPrice], [dateOrder]) VALUES (N'OD-1', N'admin', NULL, CAST(N'2021-01-12 00:00:00.000' AS DateTime))
INSERT [dbo].[OrderTbl] ([IdOrder], [userID], [totalPrice], [dateOrder]) VALUES (N'OD-10', N'cuongnhtse140805@fpt.edu.vn', 400, CAST(N'2021-03-20 09:04:09.000' AS DateTime))
INSERT [dbo].[OrderTbl] ([IdOrder], [userID], [totalPrice], [dateOrder]) VALUES (N'OD-11', N'cuongnhtse140805@fpt.edu.vn', 39200, CAST(N'2021-03-20 09:05:32.000' AS DateTime))
INSERT [dbo].[RegistrationTbl] ([userID], [PASSWORD], [name], [Address], [Phone], [status], [role], [dateCreate], [Verification]) VALUES (N'admin', N'1', N'Cuong', NULL, NULL, 1, N'Admin', NULL, NULL)
INSERT [dbo].[RegistrationTbl] ([userID], [PASSWORD], [name], [Address], [Phone], [status], [role], [dateCreate], [Verification]) VALUES (N'cuongnht.richard3599@gmail.com', N'1', N'MyG', N'abc', N'0794219080', 1, N'Active', CAST(N'2021-03-20 20:59:33.000' AS DateTime), 38508)
INSERT [dbo].[RegistrationTbl] ([userID], [PASSWORD], [name], [Address], [Phone], [status], [role], [dateCreate], [Verification]) VALUES (N'cuongnhtse140805@fpt.edu.vn', N'1', N'TriCuong', N'Quận 9', N'0794219080', 1, N'Active', CAST(N'2021-03-07 23:42:33.000' AS DateTime), 66031)
INSERT [dbo].[TypeCarTbl] ([Type]) VALUES (N'BMW')
INSERT [dbo].[TypeCarTbl] ([Type]) VALUES (N'Ford')
INSERT [dbo].[TypeCarTbl] ([Type]) VALUES (N'Hyundai')
/****** Object:  StoredProcedure [dbo].[checkExistUser]    Script Date: 20/3/2021 10:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[checkExistUser] @email nvarchar(50)
as
select userID
from RegistrationTbl
where userID=@email
GO
/****** Object:  StoredProcedure [dbo].[countPage]    Script Date: 20/3/2021 10:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[countPage] @dateRent NVARCHAR(30),@dateReturn NVARCHAR(30), @nameSearch NVARCHAR(50),@amount int,@typeSearch NVARCHAR(50)
as
select COUNT(main.CarID)
from
((select c.CarID,c.Name,c.image,c.type,c.color,c.price,c.availble
from
	(select CarID,Name,type,image,color,price,(quantity-BusyCar) as availble
	 from carTbl a,(select sum(quantity) as BusyCar,IdCar
					from OrderDetailTbl
					 where  (@dateRent between RentDate and ReturnDate) or (@dateReturn between rentDate and returndate)
					 group by IdCar) b
	 where a.CarID=b.IdCar) c
where c.availble>0)
union
(select c.CarID,c.Name,c.image,c.type,c.color,c.price,c.quantity
 from CarTbl c
 where  not EXISTS (select *
                    from (select sum(quantity) as BusyCar,IdCar
						  from OrderDetailTbl
                          where(@dateRent between RentDate and ReturnDate) or (@dateReturn between rentDate and returndate)
                          group by IdCar) b
                          where c.CarID=b.IdCar )
                  )) main
where main.Name like '%'+@nameSearch+'%' and main.availble>=@amount and main.[type] like '%'+@typeSearch+'%'
GO
/****** Object:  StoredProcedure [dbo].[getAvailbleCar]    Script Date: 20/3/2021 10:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getAvailbleCar] @idCar nvarchar(30),@dateRent NVARCHAR(30),@dateReturn NVARCHAR(30)
as
select main.availble
from
((select c.CarID,c.Name,c.image,c.type,c.color,c.price,c.availble
from
	(select CarID,Name,type,image,color,price,(quantity-BusyCar) as availble
	 from carTbl a,(select sum(quantity) as BusyCar,IdCar
					from OrderDetailTbl
					 where  (@dateRent between RentDate and ReturnDate) or (@dateReturn between rentDate and returndate)
					 group by IdCar) b
	 where a.CarID=b.IdCar) c
where c.availble>0)
union
(select c.CarID,c.Name,c.image,c.type,c.color,c.price,c.quantity
 from CarTbl c
 where  not EXISTS (select *
                    from (select sum(quantity) as BusyCar,IdCar
						  from OrderDetailTbl
                          where(@dateRent between RentDate and ReturnDate) or (@dateReturn between rentDate and returndate)
                          group by IdCar) b
                          where c.CarID=b.IdCar )
                  )) main
where main.CarID=@idCar
GO
/****** Object:  StoredProcedure [dbo].[getInfoCar]    Script Date: 20/3/2021 10:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getInfoCar] @idCar nvarchar(30),@dateRent NVARCHAR(30),@dateReturn NVARCHAR(30)
as
select main.Name,main.[image],main.[type],main.color,main.price,main.availble
from
((select c.CarID,c.Name,c.image,c.type,c.color,c.price,c.availble
from
	(select CarID,Name,type,image,color,price,(quantity-BusyCar) as availble
	 from carTbl a,(select sum(quantity) as BusyCar,IdCar
					from OrderDetailTbl
					 where  (@dateRent between RentDate and ReturnDate) or (@dateReturn between rentDate and returndate)
					 group by IdCar) b
	 where a.CarID=b.IdCar) c
where c.availble>0)
union
(select c.CarID,c.Name,c.image,c.type,c.color,c.price,c.quantity
 from CarTbl c
 where  not EXISTS (select *
                    from (select sum(quantity) as BusyCar,IdCar
						  from OrderDetailTbl
                          where(@dateRent between RentDate and ReturnDate) or (@dateReturn between rentDate and returndate)
                          group by IdCar) b
                          where c.CarID=b.IdCar )
                  )) main
where main.CarID=@idCar
GO
/****** Object:  StoredProcedure [dbo].[searchCar]    Script Date: 20/3/2021 10:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[searchCar] @dateRent NVARCHAR(30),@dateReturn NVARCHAR(30), @nameSearch NVARCHAR(50),@amount int,@typeSearch NVARCHAR(50),@indexStart int,@limit int
as
select main.CarID,main.Name,main.[image],main.[type],main.color,main.price,main.availble
from
((select c.CarID,c.Name,c.image,c.type,c.color,c.price,c.availble
from
	(select CarID,Name,type,image,color,price,(quantity-BusyCar) as availble
	 from carTbl a,(select sum(quantity) as BusyCar,IdCar
					from OrderDetailTbl
					 where  (@dateRent between RentDate and ReturnDate) or (@dateReturn between rentDate and returndate)
					 group by IdCar) b
	 where a.CarID=b.IdCar) c
where c.availble>0)
union
(select c.CarID,c.Name,c.image,c.type,c.color,c.price,c.quantity
 from CarTbl c
 where  not EXISTS (select *
                    from (select sum(quantity) as BusyCar,IdCar
						  from OrderDetailTbl
                          where(@dateRent between RentDate and ReturnDate) or (@dateReturn between rentDate and returndate)
                          group by IdCar) b
                          where c.CarID=b.IdCar )
                  )) main
where main.Name like '%'+@nameSearch+'%' and main.availble>=@amount and main.[type] like '%'+@typeSearch+'%'
ORDER by Name
OFFSET @indexStart ROWS
FETCH FIRST @limit ROWS ONLY;
GO
/****** Object:  StoredProcedure [dbo].[SelectAllCustomers]    Script Date: 20/3/2021 10:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectAllCustomers]
AS
SELECT * FROM RegistrationTbl
GO;
GO
/****** Object:  StoredProcedure [dbo].[selectCarById]    Script Date: 20/3/2021 10:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[selectCarById]
(@id nvarchar(50))
as
select *
from CarTbl
where CarID=@id
GO
/****** Object:  Statistic [_WA_Sys_00000002_36B12243]    Script Date: 20/3/2021 10:18:17 PM ******/
CREATE STATISTICS [_WA_Sys_00000002_36B12243] ON [dbo].[CarTbl]([Name]) WITH STATS_STREAM = 0x0100000001000000000000000000000006328318000000001302000000000000D301000000000000E7020000E7000000640000000000000008D00034000000000700000021FC9C00E5AC000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000C0400000803F000000000000C04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001300000000000000000000000000000025000000000000005F0000000000000067000000000000000800000000000000300010000000803F000000000000803F04000001001D004B0049004100FF0100000000000000010000000100000028000000280000000000000000000000030000004B00490041000200000040000000000103000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_36B12243]    Script Date: 20/3/2021 10:18:17 PM ******/
CREATE STATISTICS [_WA_Sys_00000003_36B12243] ON [dbo].[CarTbl]([image]) WITH STATS_STREAM = 0x01000000010000000000000000000000026C6F8E00000000DB010000000000009B01000000000000E7020A02E7000000900100000000000008D00034000000000700000022FC9C00E5AC000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000010000000000000000000803F0000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000120000000000000000000000000000002F000000000000003700000000000000FF010000000100000001000000010000002800000028000000000000000000000000000000010000000000000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_36B12243]    Script Date: 20/3/2021 10:18:17 PM ******/
CREATE STATISTICS [_WA_Sys_00000004_36B12243] ON [dbo].[CarTbl]([type]) WITH STATS_STREAM = 0x0100000001000000000000000000000096FF60BB000000001B02000000000000DB01000000000000E7020000E7000000640000000000000008D00034000000000700000022FC9C00E5AC000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000020410000803F0000000000002041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000290000000000000067000000000000006F000000000000000800000000000000300010000000803F000000000000803F040000010021003700200063006800D71EFF0100000000000000010000000100000028000000280000000000000000000000050000003700200063006800D71E0200000040000000000105000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_36B12243]    Script Date: 20/3/2021 10:18:17 PM ******/
CREATE STATISTICS [_WA_Sys_00000005_36B12243] ON [dbo].[CarTbl]([color]) WITH STATS_STREAM = 0x0100000001000000000000000000000093B87398000000001B02000000000000DB01000000000000E7020000E7000000640000000000000008D00034000000000700000022FC9C00E5AC000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000020410000803F0000000000002041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000290000000000000067000000000000006F000000000000000800000000000000300010000000803F000000000000803F0400000100210057006800690074006500FF010000000000000001000000010000002800000028000000000000000000000005000000570068006900740065000200000040000000000105000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_36B12243]    Script Date: 20/3/2021 10:18:17 PM ******/
CREATE STATISTICS [_WA_Sys_00000006_36B12243] ON [dbo].[CarTbl]([price]) WITH STATS_STREAM = 0x01000000010000000000000000000000286E76FF00000000CF010000000000008F010000000000003E0285653E000000080035000000000000000000E70000000700000022FC9C00E5AC000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000018000000000000410000803F000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000023000000000000002B000000000000000800000000000000100018000000803F000000000000803F0000000080842E410400000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000007_36B12243]    Script Date: 20/3/2021 10:18:17 PM ******/
CREATE STATISTICS [_WA_Sys_00000007_36B12243] ON [dbo].[CarTbl]([quantity]) WITH STATS_STREAM = 0x01000000010000000000000000000000E5DA324E00000000CB010000000000008B01000000000000380285653800000004000A000000000000000000E70000000700000021FC9C00E5AC000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F640000000400000100000000000000
GO
/****** Object:  Statistic [PK_CarTbl]    Script Date: 20/3/2021 10:18:17 PM ******/
UPDATE STATISTICS [dbo].[CarTbl]([PK_CarTbl]) WITH STATS_STREAM = 0x0100000001000000000000000000000090D79850000000001102000000000000D101000000000000A7030000A7000000320000000000000008D00034010000000700000009F5AB00E3AC000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000A0400000803F000000000000A04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001300000000000000000000000000000024000000000000005D0000000000000065000000000000000800000000000000300010000000803F000000000000803F04000001001C004341522D31FF0100000000000000010000000100000028000000280000000000000000000000050000004341522D310200000040000000000105000000000100000000000000, ROWCOUNT = 11, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_22AA2996]    Script Date: 20/3/2021 10:18:17 PM ******/
CREATE STATISTICS [_WA_Sys_00000002_22AA2996] ON [dbo].[OrderDetailTbl]([IdCar]) WITH STATS_STREAM = 0x010000000100000000000000000000000AE617DE000000001102000000000000D101000000000000A7038565A7000000320000000000000008D00034000000000700000068500501E0AC000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000A0400000803F000000000000A04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001300000000000000000000000000000024000000000000005D0000000000000065000000000000000800000000000000300010000000803F000000000000803F04000001001C004341522D31FF0100000000000000010000000100000028000000280000000000000000000000050000004341522D310200000040000000000105000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_22AA2996]    Script Date: 20/3/2021 10:18:17 PM ******/
CREATE STATISTICS [_WA_Sys_00000003_22AA2996] ON [dbo].[OrderDetailTbl]([quantity]) WITH STATS_STREAM = 0x010000000100000000000000000000001852B1E000000000CB010000000000008B01000000000000380285653800000004000A000000000000000000000000000700000069500501E0AC000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F030000000400000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_22AA2996]    Script Date: 20/3/2021 10:18:17 PM ******/
CREATE STATISTICS [_WA_Sys_00000004_22AA2996] ON [dbo].[OrderDetailTbl]([price]) WITH STATS_STREAM = 0x010000000100000000000000000000001B7E50F8000000002B02000000000000EB01000000000000EF020000EF000000140000000000000008D0003400000000070000006A500501E0AC000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000240000000000A0410000803F000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002F0000000000000077000000000000007F000000000000000800000000000000100024000000803F000000000000803F3300300030003000300030003000200020002000040000FF01000000000000000100000001000000280000002800000000000000000000000A0000003300300030003000300030003000200020002000020000004000000000010A000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_22AA2996]    Script Date: 20/3/2021 10:18:17 PM ******/
CREATE STATISTICS [_WA_Sys_00000005_22AA2996] ON [dbo].[OrderDetailTbl]([IdOrder]) WITH STATS_STREAM = 0x01000000010000000000000000000000DB003DB4000000000F02000000000000CF01000000000000A7038565A7000000320000000000000008D0003400000000070000000E590001E0AC000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000080400000803F000000000000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001300000000000000000000000000000023000000000000005B0000000000000063000000000000000800000000000000300010000000803F000000000000803F04000001001B004F442D31FF0100000000000000010000000100000028000000280000000000000000000000040000004F442D310200000040000000000104000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_22AA2996]    Script Date: 20/3/2021 10:18:17 PM ******/
CREATE STATISTICS [_WA_Sys_00000006_22AA2996] ON [dbo].[OrderDetailTbl]([RentDate]) WITH STATS_STREAM = 0x01000000010000000000000000000000DDD8B88C00000000A40100000000000064010000000000003D0213003D00000008001703000000000000000002000000070000006A500501E0AC000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000018000000000000000000803F0000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000008000000000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000007_22AA2996]    Script Date: 20/3/2021 10:18:17 PM ******/
CREATE STATISTICS [_WA_Sys_00000007_22AA2996] ON [dbo].[OrderDetailTbl]([ReturnDate]) WITH STATS_STREAM = 0x01000000010000000000000000000000B96AE51800000000A40100000000000064010000000000003D0213003D000000080017030000000000000000020000000700000069500501E0AC000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000018000000000000000000803F0000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000008000000000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000008_22AA2996]    Script Date: 20/3/2021 10:18:17 PM ******/
CREATE STATISTICS [_WA_Sys_00000008_22AA2996] ON [dbo].[OrderDetailTbl]([status]) WITH STATS_STREAM = 0x010000000100000000000000000000007D64089400000000A4010000000000006401000000000000680213006800000001000100000000000000000002000000070000005E7B0601E5AC000004000000000000000400000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000110000000000000000008040000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000008000000000000000400000000000000
GO
/****** Object:  Statistic [PK_OrderDetailTbl]    Script Date: 20/3/2021 10:18:17 PM ******/
UPDATE STATISTICS [dbo].[OrderDetailTbl]([PK_OrderDetailTbl]) WITH STATS_STREAM = 0x010000000200000000000000000000006906E436000000002B02000000000000D301000000000000A7030000A7000000320000000000000008D0003400000000A7030000A7000000320000000000000008D0003410000000070000000D590001E0AC000001000000000000000100000000000000000000000000803F0000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000200000010000000000020410000803F000000000000C04000008040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001300000000000000000000000000000025000000000000005F0000000000000067000000000000000800000000000000300010000000803F000000000000803F04000001001D004F442D312D31FF0100000000000000010000000100000028000000280000000000000000000000060000004F442D312D310200000040000000000106000000000100000000000000, ROWCOUNT = 12, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_17036CC0]    Script Date: 20/3/2021 10:18:17 PM ******/
CREATE STATISTICS [_WA_Sys_00000002_17036CC0] ON [dbo].[OrderTbl]([userID]) WITH STATS_STREAM = 0x0100000001000000000000000000000010411E96000000001102000000000000D101000000000000A7020000A7000000320000000000000008D0003400000000070000008B878800F1AC000002000000000000000200000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000A04000000040000000000000A04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001300000000000000000000000000000024000000000000005D00000000000000650000000000000008000000000000003000100000000040000000000000803F04000001001C0061646D696EFF01000000000000000200000001000000280000002800000000000000000000000500000061646D696E0200000040000000000205000000000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_17036CC0]    Script Date: 20/3/2021 10:18:17 PM ******/
CREATE STATISTICS [_WA_Sys_00000003_17036CC0] ON [dbo].[OrderTbl]([totalPrice]) WITH STATS_STREAM = 0x010000000100000000000000000000007D9ED1B000000000A40100000000000064010000000000003E0200003E00000008003500000000000000000000000000070000008C878800F1AC000002000000000000000200000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000180000000000000000000040000000400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000008000000000000000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_17036CC0]    Script Date: 20/3/2021 10:18:17 PM ******/
CREATE STATISTICS [_WA_Sys_00000004_17036CC0] ON [dbo].[OrderTbl]([dateOrder]) WITH STATS_STREAM = 0x01000000010000000000000000000000F12119C200000000F201000000000000B2010000000000003D0200003D000000080017030000000000000000000000000700000046158800F1AC000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000180000000000004100000040000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000046000000000000004E0000000000000010000000000000002B00000000000000100018000000803F000000000000803F00000000F0AC0000040000100018000000803F000000000000803F00000000FCAD00000400000200000000000000
GO
/****** Object:  Statistic [PK_OrderTbl]    Script Date: 20/3/2021 10:18:17 PM ******/
UPDATE STATISTICS [dbo].[OrderTbl]([PK_OrderTbl]) WITH STATS_STREAM = 0x01000000010000000000000000000000648D74BC000000003D02000000000000FD01000000000000A7030000A7000000320000000000000008D0003400000000070000003FFC8700F1AC000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000000000804000000040000000000000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001300000000000000000000000000000046000000000000008900000000000000910000000000000010000000000000002B00000000000000300010000000803F000000000000803F04000001001B004F442D31300010000000803F000000000000803F04000001001B004F442D32FF0100000000000000020000000200000028000000280000000000000000000000050000004F442D3132040000004000000000400300000081010300000101040000000200000000000000, ROWCOUNT = 13, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_49C3F6B7]    Script Date: 20/3/2021 10:18:17 PM ******/
CREATE STATISTICS [_WA_Sys_00000002_49C3F6B7] ON [dbo].[RegistrationTbl]([PASSWORD]) WITH STATS_STREAM = 0x010000000100000000000000000000000A9C71E8000000000902000000000000C901000000000000A7030000A7000000320000000000000008D000347F0000000700000071AB1601E3AC000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000803F0000803F000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000200000000000000055000000000000005D000000000000000800000000000000300010000000803F000000000000803F0400000100180031FF010000000000000001000000010000002800000028000000000000000000000001000000310200000040000000000101000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_49C3F6B7]    Script Date: 20/3/2021 10:18:17 PM ******/
CREATE STATISTICS [_WA_Sys_00000003_49C3F6B7] ON [dbo].[RegistrationTbl]([name]) WITH STATS_STREAM = 0x010000000100000000000000000000002FB42872000000001B02000000000000DB01000000000000E7030034E7000000640000000000000008D000340100000007000000AD3E1701E3AC000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000020410000803F0000000000002041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000290000000000000067000000000000006F000000000000000800000000000000300010000000803F000000000000803F04000001002100430075006F006E006700FF010000000000000001000000010000002800000028000000000000000000000005000000430075006F006E0067000200000040000000000105000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_49C3F6B7]    Script Date: 20/3/2021 10:18:17 PM ******/
CREATE STATISTICS [_WA_Sys_00000004_49C3F6B7] ON [dbo].[RegistrationTbl]([Address]) WITH STATS_STREAM = 0x01000000010000000000000000000000C4EEB51900000000DB010000000000009B01000000000000E7020A02E7000000900100000000000008D000340200000007000000AE3E1701E3AC000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000010000000000000000000803F0000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000120000000000000000000000000000002F000000000000003700000000000000FF010000000100000001000000010000002800000028000000000000000000000000000000010000000000000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_49C3F6B7]    Script Date: 20/3/2021 10:18:17 PM ******/
CREATE STATISTICS [_WA_Sys_00000005_49C3F6B7] ON [dbo].[RegistrationTbl]([Phone]) WITH STATS_STREAM = 0x0100000001000000000000000000000027E381DC00000000DB010000000000009B01000000000000A7020A02A70000000F0000000000000008D000340200000007000000AD3E1701E3AC000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000010000000000000000000803F0000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000120000000000000000000000000000002F000000000000003700000000000000FF010000000100000001000000010000002800000028000000000000000000000000000000010000000000000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_49C3F6B7]    Script Date: 20/3/2021 10:18:17 PM ******/
CREATE STATISTICS [_WA_Sys_00000006_49C3F6B7] ON [dbo].[RegistrationTbl]([status]) WITH STATS_STREAM = 0x010000000100000000000000000000009489E9FC00000000C80100000000000088010000000000006803000068000000010001000000000000000000A70000000700000071AB1601E3AC000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000110000000000803F0000803F000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001C0000000000000024000000000000000800000000000000100011000000803F000000000000803F010400000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000007_49C3F6B7]    Script Date: 20/3/2021 10:18:17 PM ******/
CREATE STATISTICS [_WA_Sys_00000007_49C3F6B7] ON [dbo].[RegistrationTbl]([role]) WITH STATS_STREAM = 0x01000000010000000000000000000000CDD0CAD9000000000902000000000000C901000000000000A7030000A7000000320000000000000008D000340000000007000000AC3E1701E3AC000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000803F0000803F000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000200000000000000055000000000000005D000000000000000800000000000000300010000000803F000000000000803F0400000100180031FF010000000000000001000000010000002800000028000000000000000000000001000000310200000040000000000101000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000008_49C3F6B7]    Script Date: 20/3/2021 10:18:17 PM ******/
CREATE STATISTICS [_WA_Sys_00000008_49C3F6B7] ON [dbo].[RegistrationTbl]([dateCreate]) WITH STATS_STREAM = 0x010000000100000000000000000000002BA7C2A600000000A40100000000000064010000000000003D0213003D0000000800170300000000000000000200000007000000AC3E1701E3AC000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000018000000000000000000803F0000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000008000000000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000009_49C3F6B7]    Script Date: 20/3/2021 10:18:17 PM ******/
CREATE STATISTICS [_WA_Sys_00000009_49C3F6B7] ON [dbo].[RegistrationTbl]([Verification]) WITH STATS_STREAM = 0x010000000100000000000000000000009A5E410E00000000A4010000000000006401000000000000380213003800000004000A0000000000000000000200000007000000AD3E1701E3AC000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000014000000000000000000803F0000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000008000000000000000100000000000000
GO
/****** Object:  Statistic [PK__Registra__CB9A1CDF5A5C8DE0]    Script Date: 20/3/2021 10:18:17 PM ******/
UPDATE STATISTICS [dbo].[RegistrationTbl]([PK__Registra__CB9A1CDF5A5C8DE0]) WITH STATS_STREAM = 0x01000000010000000000000000000000A2094286000000001102000000000000D101000000000000A703803FA7000000320000000000000008D000340000000007000000FFE91101E3AC000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000A0400000803F000000000000A04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001300000000000000000000000000000024000000000000005D0000000000000065000000000000000800000000000000300010000000803F000000000000803F04000001001C0061646D696EFF01000000000000000100000001000000280000002800000000000000000000000500000061646D696E0200000040000000000105000000000100000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_TypeCarTbl]    Script Date: 20/3/2021 10:18:17 PM ******/
UPDATE STATISTICS [dbo].[TypeCarTbl]([PK_TypeCarTbl]) WITH STATS_STREAM = 0x010000000100000000000000000000005212E21C0000000040000000000000000000000000000000E7030000E7000000640000000000000008D0003400000000, ROWCOUNT = 6, PAGECOUNT = 1
GO
